@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-color: rgb(255, 62, 102);
  --alt-color: rgb(204, 38, 71);
}

.main-color {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.list-unstyled {
  list-style: none;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left;
  }
}
.text-decoration-none {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-flex {
  display: flex;
}

@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 768px) {
  .flex-md-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flex-md-row {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row;
  }
  .justify-content-lg-between {
    justify-content: space-between;
  }
  .justify-content-lg-end {
    justify-content: flex-end;
  }
  .flex-lg-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.flex-auto {
  flex: auto;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white !important;
}

.color-inherit {
  color: inherit !important;
}

.border {
  border: 1px solid;
}

.w-100 {
  width: 100%;
}

.btn-reset {
  border: none;
  background-color: transparent;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-circle {
  border-radius: 50%;
}

.border-2 {
  border-width: 2px;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-30 {
  border-radius: 30px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
}
.row.row-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.row.row-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.row.row-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.row.row-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.row.row-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
.row.row-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 576px) {
  .row.row-cols-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .row.row-cols-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 992px) {
  .row.row-cols-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1200px) {
  .row.row-cols-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-12 {
  gap: 12px;
}

.g-14 {
  gap: 14px;
}

.g-20 {
  gap: 20px;
}

.g-22 {
  gap: 22px;
}

.g-26 {
  gap: 26px;
}

.g-30 {
  gap: 30px;
}

.g-40 {
  gap: 40px;
}

.g-90 {
  gap: 90px;
}

.g-100 {
  gap: 100px;
}

.m-auto {
  margin: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 1.25rem !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.mb-7 {
  margin-bottom: 1.75rem !important;
}

.mb-8 {
  margin-bottom: 2rem !important;
}

.mb-9 {
  margin-bottom: 2.25rem !important;
}

.mb-10 {
  margin-bottom: 2.5rem !important;
}

.mb-12 {
  margin-bottom: 3rem !important;
}

.mb-14 {
  margin-bottom: 3.5rem !important;
}

.mb-15 {
  margin-bottom: 3.75rem !important;
}

.mb-20 {
  margin-bottom: 5rem !important;
}

.mb-25 {
  margin-bottom: 6.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 0.75rem !important;
}

.mr-4 {
  margin-right: 1rem !important;
}

.ml-3 {
  margin-left: 0.75rem !important;
}

.p-10 {
  padding: 2.5rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.px-12 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.py-24 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-25 {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important;
}

.pr-10 {
  padding-right: 2.5rem !important;
}

.pb-7 {
  padding-bottom: 1.75rem !important;
}

.pb-15 {
  padding-bottom: 3.75rem !important;
}

.pb-25 {
  padding-bottom: 6.25rem !important;
}

.pt-8 {
  padding-top: 2rem !important;
}

.pt-20 {
  padding-top: 5rem !important;
}

.pt-24 {
  padding-top: 6rem !important;
}

@media (min-width: 992px) {
  .ml-lg-20 {
    margin-left: 5rem !important;
  }
  .p-lg-12 {
    padding: 3rem !important;
  }
  .px-lg-6 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .py-lg-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .pl-lg-25 {
    padding-left: 6.25rem !important;
  }
}
@media (min-width: 1200px) {
  .ml-xl-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .mx-md-3 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 991.98px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  background-color: #fff;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 0 0.75rem;
}
@media (max-width: 1199.98px) {
  .container {
    padding: 0 2rem !important;
  }
}
@media (max-width: 991.98px) {
  .container {
    padding: 0 38px !important;
  }
}

.section-title {
  color: #0f1133;
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 48px;
}
@media (max-width: 991.98px) {
  .section-title {
    font-size: 2rem;
    line-height: 33px;
  }
}

.section-info-title {
  color: #565856;
  font-size: 1.125rem;
}
@media (max-width: 991.98px) {
  .section-info-title {
    font-size: 1rem;
    line-height: 18px;
  }
}

strong {
  font-weight: 800;
}

nav {
  background-color: #edf1f7;
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  nav .navbar-toggle {
    order: 1;
  }
}
nav .navbar-toggle input {
  display: none;
}
nav .navbar-toggle input:checked + label span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
nav .navbar-toggle input:checked + label span:nth-child(2) {
  display: none;
}
nav .navbar-toggle input:checked + label span:last-of-type {
  transform: rotate(-45deg);
}
nav .navbar-toggle input:checked ~ .navbar-collapse {
  transform: scaleY(1);
}
nav .navbar-toggle label {
  width: 14px;
  height: 14px;
  display: block;
}
@media (min-width: 992px) {
  nav .navbar-toggle label {
    display: none;
  }
}
nav .navbar-toggle label span {
  width: 100%;
  height: 2px;
  width: 100%;
  display: block;
  background-color: #0f1133;
  transition: all 0.2s ease-in-out;
  position: relative;
}
nav .navbar-toggle label span:not(:last-of-type) {
  margin-bottom: 3px;
}
nav .navbar-collapse {
  width: 100%;
}
@media (max-width: 991.98px) {
  nav .navbar-collapse {
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 107px;
    width: 100%;
    left: 0;
    padding: 24px 44px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
  }
  nav .navbar-collapse ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
nav .navbar-collapse ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 34px;
  margin: 0;
}
nav .navbar-collapse ul li a {
  text-decoration: none;
  color: rgb(15, 17, 107);
}
nav .navbar-collapse ul li:hover a {
  color: #000;
}
nav .navbar-collapse ul li:hover.has-sub-navigation:hover::after {
  transform: rotate(-135deg);
  top: 2.5px;
}
nav .navbar-collapse ul li.has-sub-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav .navbar-collapse ul li.has-sub-navigation::after {
  content: "";
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  display: block;
  position: relative;
  top: -1.5px;
  transition: all 0.2s ease-in-out;
}
nav .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
  nav .navbar-brand {
    width: 95px;
  }
}
nav button {
  border-radius: 25px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  flex-shrink: 0;
  padding: 15px 30px;
  cursor: pointer;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  font-weight: 500;
  font-size: 0.9rem;
}
@media (max-width: 991.98px) {
  nav button {
    padding: 12px 10px;
    line-height: 12px;
  }
}
nav button:hover {
  background-color: var(--alt-color);
}

section.hero-image {
  background-color: #edf1f7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/imgs/hero.png");
  min-height: calc(100vh - 140px);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 58%;
}
@media (max-width: 991.98px) {
  section.hero-image {
    background-size: 180px;
    min-height: 465px;
    padding-bottom: 2rem;
  }
}
section.hero-image h1 {
  font-size: 3.95rem;
  font-weight: 400;
  max-width: 448px;
  line-height: 68px;
  color: #111335;
}
@media (max-width: 991.98px) {
  section.hero-image h1 {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 39px;
  }
}
section.hero-image p {
  margin-top: 0;
  font-size: 1.135rem;
  line-height: 20px;
}
@media (max-width: 991.98px) {
  section.hero-image p {
    font-size: 1rem;
  }
}
section.hero-image form {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  section.hero-image form {
    margin-bottom: 32px;
  }
}
section.hero-image form .input-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  border-left: 4px solid var(--main-color);
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 18px 30px rgba(15, 17, 107, 0.08);
  max-width: 400px;
  line-height: 16px;
  height: 60px;
}
@media (max-width: 991.98px) {
  section.hero-image form .input-group {
    height: 50px;
    max-width: 100%;
    border-left-width: 2px;
  }
}
section.hero-image form .input-group .input-group-prepend {
  color: rgb(195, 195, 204);
  font-size: 1rem;
}
section.hero-image form .input-group input {
  border: 0;
  flex: 1;
  outline: 0;
  font-size: 1rem;
  line-height: 16px;
}
section.hero-image form .input-group button {
  border: none;
  background: none;
  color: var(--main-color);
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.7;
}
section.hero-image form .input-group button:hover {
  opacity: 1;
  color: var(--alt-color);
}
section.hero-image .images {
  display: flex;
  align-items: center;
}
section.hero-image .images > div {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 991.98px) {
  section.hero-image .images > div {
    width: 40px;
    height: 40px;
  }
}
section.hero-image .images > div:hover {
  z-index: 4 !important;
}
section.hero-image .images > div:first-of-type {
  z-index: 4;
}
section.hero-image .images > div:nth-of-type(2) {
  z-index: 3;
  left: -20px;
}
@media (max-width: 991.98px) {
  section.hero-image .images > div:nth-of-type(2) {
    left: -16px;
  }
}
section.hero-image .images > div:nth-of-type(3) {
  z-index: 2;
  left: -40px;
}
@media (max-width: 991.98px) {
  section.hero-image .images > div:nth-of-type(3) {
    left: -32px;
  }
}
section.hero-image .images > div:nth-of-type(4) {
  z-index: 1;
  left: -60px;
}
@media (max-width: 991.98px) {
  section.hero-image .images > div:nth-of-type(4) {
    left: -48px;
  }
}
section.hero-image .images > div img {
  border-radius: 50%;
}
section.hero-image .feedback {
  margin-left: -60px;
}
@media (max-width: 991.98px) {
  section.hero-image .feedback {
    margin-left: -48px;
  }
}
section.hero-image .feedback > strong {
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 4px;
}
@media (max-width: 991.98px) {
  section.hero-image .feedback > strong {
    font-size: 1.5rem;
    line-height: 14px;
  }
}
section.hero-image .feedback > small {
  color: rgb(113, 113, 113);
  font-weight: 400;
  line-height: 14px;
}
section.how-it-works {
  padding: 100px 0;
}
section.how-it-works .section-info-title {
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  section.how-it-works .section-info-title {
    margin-bottom: 0;
  }
}
section.how-it-works .view-features-btn {
  border-color: #e8eaf0;
  color: #0f1133;
  transition: all 0.2s ease-in-out;
}
section.how-it-works .view-features-btn:hover {
  color: #fff;
  border-color: var(--main-color);
  background-color: var(--main-color);
}
section.how-it-works .icons-parent {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 100px;
}
section.how-it-works .icons-parent .icon-parent {
  border-color: #eef0f4;
  overflow: hidden;
}
section.how-it-works .icons-parent .icon-parent .icon {
  color: white;
  width: 50px;
  height: 50px;
}
section.how-it-works .icons-parent .icon-parent .title {
  color: #101234;
  line-height: 18px;
}
section.how-it-works .icons-parent .icon-parent p {
  color: #6f6f74;
  line-height: 23px;
}
section.how-it-works .icons-parent .icon-parent button i {
  transition: all 0.2s ease-in-out;
}
section.how-it-works .icons-parent .icon-parent button:hover i {
  transform: translateX(5px);
}
section.how-it-works .icons-parent .icon-parent:first-of-type .icon {
  background-color: #30acfc;
}
section.how-it-works .icons-parent .icon-parent:nth-of-type(2) .icon {
  background-color: #e94e89;
}
section.how-it-works .icons-parent .icon-parent:nth-of-type(3) .icon {
  background-color: #3779ff;
}
section.how-it-works .icons-parent .icon-parent:nth-of-type(4) .icon {
  background-color: #f67841;
}
section.how-it-works .icons-parent .icon-parent:nth-of-type(5) .icon {
  background-color: #6b88f8;
}
section.how-it-works .icons-parent .icon-parent:nth-of-type(6) .icon {
  background-color: #3ab094;
}
section.how-it-works .about {
  background-color: #f0f1f8;
}
@media (max-width: 991.98px) {
  section.how-it-works .about {
    padding: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  section.how-it-works .about {
    background-position: 0px 5px !important;
    padding: 45px 32px !important;
  }
}
@media (min-width: 992px) {
  section.how-it-works .about {
    min-height: 450px;
    background-position: 52px 5px;
    background-image: url("../../assets/imgs/about-thumb.png");
    background-repeat: no-repeat;
    padding: 45px 75px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  section.how-it-works .about .text-content {
    max-width: 400px !important;
  }
}
@media (min-width: 992px) {
  section.how-it-works .about .text-content {
    max-width: 500px;
  }
}
section.how-it-works .about .text-content small {
  font-size: 0.9rem;
  font-weight: 500;
}
section.how-it-works .about .text-content h2 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 55px;
  color: #101234;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  section.how-it-works .about .text-content h2 {
    font-size: 2.25rem;
    line-height: 40px;
  }
}
@media (min-width: 992px) {
  section.how-it-works .about .text-content h2 {
    max-width: 460px;
  }
}
@media (max-width: 991.98px) {
  section.how-it-works .about .text-content h2 {
    font-size: 1.8rem;
    line-height: 30px;
  }
}
section.how-it-works .about .text-content > p {
  font-size: 1.01rem;
  color: #8a8b90;
}
@media (min-width: 992px) {
  section.how-it-works .about .text-content > p {
    max-width: 450px;
  }
}
section.how-it-works .about .text-content .icon {
  width: 27px;
  height: 27px;
  background-color: #31c36a;
  flex: 0 0 auto;
}
section.how-it-works .about .text-content .text-info h5 {
  font-size: 1.25rem;
  line-height: 18px;
  color: #101234;
}
section.how-it-works .about .text-content .text-info p {
  font-size: 0.95rem;
  color: #757a7c;
}
section.features {
  background-color: #0f1133;
}
section.features .section-title {
  line-height: 54px;
}
@media (max-width: 991.98px) {
  section.features .section-title {
    line-height: 30px;
  }
}
@media (max-width: 991.98px) {
  section.features .text-content {
    width: 100%;
  }
}
section.features .text-content > div {
  border-color: #202234;
}
section.features .text-content > div .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
section.features .text-content > div h4 {
  line-height: 20px;
  font-size: 1.45rem;
}
section.features .text-content > div p {
  color: #9fa0ad;
  font-size: 0.85rem;
}
section.features .text-content > div:first-of-type .icon {
  background-color: #ff3e66;
  box-shadow: 0 0 0 6px #2a182d;
}
section.features .text-content > div:nth-of-type(2) .icon {
  background-color: #2dacfc;
  box-shadow: 0 0 0 6px #15233d;
}
section.features .text-content > div:last-of-type .icon {
  background-color: #32c956;
  box-shadow: 0 0 0 6px #15252c;
}
section.how-does-it-work {
  padding: 100px 0;
}
section.how-does-it-work .icons .icon {
  box-shadow: 0 9px 22px 1px #f1ecec;
}
section.how-does-it-work .icons .icon .number {
  font-size: 40px;
  line-height: 50px;
}
section.how-does-it-work .icons .icon p {
  font-size: 0.9rem;
  color: #6f6f74;
  font-weight: 500;
}
@media (min-width: 992px) {
  section.how-does-it-work .images {
    grid-template-columns: minmax(calc(66.67% - 15px), auto) minmax(
        calc(33.33% - 15px),
        auto
      );
  }
}
section.how-does-it-work .images .video-thumb {
  position: relative;
}
section.how-does-it-work .images .video-thumb .play-icon {
  width: 90px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff3e66;
  font-size: 20px;
}
@media (max-width: 991.98px) {
  section.how-does-it-work .images .video-thumb .play-icon {
    width: 76px;
    height: 76px;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
  }
}
section.how-does-it-work .images .video-thumb .play-icon::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-bottom-color: transparent;
}
section.how-does-it-work .images .video-thumb .play-icon::after {
  content: "";
  position: absolute;
  left: -11px;
  top: -15px;
  border-radius: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
}
section.how-does-it-work .images .video-thumb .download-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 51px);
  width: 16px;
  height: 16px;
  outline: 1px solid rgba(255, 255, 255, 0.6);
  outline-offset: 1px;
}
@media (max-width: 991.98px) {
  section.how-does-it-work .images .video-thumb .download-icon {
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    left: calc(50% + 44px);
  }
}
section.how-does-it-work .images .video-thumb .download-icon img {
  max-width: 8px;
}
section.how-does-it-work .text-content h2 {
  color: #0f1133;
  font-size: 1.9rem;
  font-weight: 800;
}
@media (max-width: 991.98px) {
  section.how-does-it-work .text-content h2 {
    font-size: 1.5rem;
  }
}
section.how-does-it-work .text-content p {
  color: #808080;
  line-height: 22px;
}
section.how-does-it-work .text-content button {
  border-color: #e0e2e5;
  color: #252525;
  font-weight: 500;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}
section.how-does-it-work .text-content button:hover {
  opacity: 1;
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}
section.how-does-it-work .arrows button {
  width: 50px;
  height: 50px;
  border-color: #e0e2e5;
  font-size: 1rem;
  color: #7b7b7f;
}
section.download-app-section {
  background-color: #edf1f5;
  padding: 150px 0 160px 0;
}
section.download-app-section small {
  color: #ff3e66;
  font-size: 0.89rem;
  font-weight: 500;
}
section.download-app-section h3 {
  color: #0e1233;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 55px;
}
@media (max-width: 991.98px) {
  section.download-app-section h3 {
    font-size: 1.8rem;
    line-height: 30px;
  }
}
section.download-app-section p {
  color: #696666;
  max-width: 445px;
}
section.download-app-section .icon {
  font-size: 37px;
}
@media (max-width: 991.98px) {
  section.download-app-section .icon {
    font-size: 29px;
  }
}
section.download-app-section .text {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  section.download-app-section .text {
    font-size: 11px;
    line-height: 13px;
  }
}
section.download-app-section .text span {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  section.download-app-section .text span {
    font-size: 20px;
    line-height: 16px;
  }
}
section.download-app-section .btn {
  height: 70px;
}
@media (max-width: 991.98px) {
  section.download-app-section .btn {
    height: auto;
    padding: 12px 18px !important;
  }
}
section.download-app-section .download-ios {
  background-color: #0f1133;
  color: #fff;
}
section.download-app-section .download-ios span {
  text-transform: uppercase;
}
section.download-app-section .download-ios span::first-letter {
  text-transform: lowercase;
}
section.download-app-section .download-android {
  background-color: #fff;
  color: #0f1133;
}
@media (max-width: 991.98px) {
  section.pricing .section-title {
    font-size: 2.25rem;
  }
}
section.pricing .section-info-title {
  color: #7d7a7a;
}
@media (max-width: 991.98px) {
  section.pricing .section-info-title {
    font-size: 0.95rem;
  }
}
section.pricing .pricing-duration {
  border-color: #e8eaf0;
  padding: 3px;
}
section.pricing .pricing-duration > div input {
  display: none;
}
section.pricing .pricing-duration > div label {
  padding: 8px 20px;
  font-weight: 500;
  color: #6a6a6a;
  font-size: 0.83rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  line-height: 15px;
  max-height: 100%;
  display: block;
}
section.pricing .pricing-duration > div:first-child label::before {
  left: 100%;
}
section.pricing .pricing-duration > div:last-child label::before {
  left: -100%;
}
section.pricing .pricing-duration > div label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff3e66;
  border-radius: inherit;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
}
section.pricing .pricing-duration > div input:checked + label {
  color: white;
}
section.pricing .pricing-duration > div input:checked + label::before {
  left: 0;
  opacity: 1;
}
section.pricing .cards .card {
  border-color: #eef0f4;
  align-self: flex-start;
}
section.pricing .cards .card .card-top-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: #101234;
  line-height: 18px;
}
section.pricing .cards .card .price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #101234;
}
section.pricing .cards .card .price .sign {
  margin-right: 4px;
  align-self: flex-start;
  line-height: 22px;
  font-size: 19.5px;
}
section.pricing .cards .card .price strong {
  font-size: 44px;
  align-self: flex-start;
  line-height: 36px;
  font-weight: 800;
}
section.pricing .cards .card .price .duration {
  color: #77777b;
  align-self: flex-end;
  line-height: 16px;
  font-size: 14px;
}
section.pricing .cards .card p {
  color: #838387;
}
section.pricing .cards .card hr {
  border: 0;
  border-bottom: 1px solid #e2e4ea;
}
section.pricing .cards .card ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}
section.pricing .cards .card ul li::before {
  content: "\f00c";
  font: var(--fa-font-solid);
  font-size: 14px;
  background-color: #eef4fe;
  color: #5b8ff7;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
section.pricing .cards .card button {
  padding: 14px 30px;
  color: #212342;
  border-color: #e8eaf0;
  transition: all 0.2s ease-in-out;
}
section.pricing .cards .card button:hover {
  background-color: var(--main-color);
  color: #fff;
}
section.pricing .cards .card.popular {
  position: relative;
  border-top: 4px solid #ff3e66;
  box-shadow: 0 20px 40px 0px #e1e2e5;
}
section.pricing .cards .card.popular::after {
  content: "Most Popular";
  position: absolute;
  top: 20px;
  right: 0;
  line-height: 16px;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: #2a6df6;
  color: #fff;
  border-radius: 20px 0 0 20px;
  padding: 6px 20px;
}
section.pricing .cards .card.popular button:hover {
  background-color: var(--alt-color);
}
section.pricing .cards .card:last-of-type ul li::before {
  background-color: #effaf2;
  color: #4ecb7d;
}
section.testimonials .image-holder {
  background-image: url("../../assets/imgs/testimonial.jpg");
}
section.testimonials .slide {
  padding: 120px 0;
  max-width: 860px;
  margin: auto;
}
section.testimonials .slide .col-image .image {
  width: 140px;
  height: 140px;
  overflow: hidden;
}
section.testimonials .slide .col-image .image img {
  mix-blend-mode: multiply;
}
section.testimonials .slide .col-image .review-number {
  color: #a2c0fa;
  font-weight: 700;
}
section.testimonials .slide .col-text-content {
  width: 100%;
}
section.testimonials .slide .col-text-content p {
  font-size: 1.25rem;
  line-height: 27.5px;
}
@media (min-width: 992px) {
  section.testimonials .slide .col-text-content p {
    max-width: 620px;
  }
}
section.testimonials .slide .col-text-content .name {
  font-weight: 700;
  line-height: 18px;
  font-size: 1.25rem;
}
section.testimonials .slide .col-text-content .role {
  line-height: 1rem;
  color: #a2c0fa;
  font-size: 0.85rem;
  font-weight: 400;
}
section.testimonials .slide .col-text-content .arrows button {
  width: 50px;
  height: 50px;
  border-color: #5496f6;
  font-size: 1rem;
  color: #fff;
}
section.testimonials .stars {
  color: #ffb847;
}
section.sponsers .section-info-title {
  color: #505055;
}
section.sponsers .icons {
  max-width: 750px;
  margin: auto;
}
section.sponsers .icons:first-of-type {
  margin-bottom: 30px;
}
section.sponsers .icons .icon {
  box-shadow: 0 20px 40px 0px #e1e2e5;
  width: 100px;
  height: 100px;
  flex: 0 0 100px;
}

footer {
  background-color: #edf1f5;
}
footer .row {
  grid-template-columns: minmax(auto, 400px) repeat(2, minmax(auto, 200px)) 1fr;
}
@media (max-width: 1199.98px) {
  footer .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  footer .row {
    grid-template-columns: 1fr;
  }
}
footer h6 {
  color: #0f1133;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
}
footer p {
  color: #7c7b7f;
}
footer .col button {
  font-size: 0.9rem;
  color: #201938;
  font-weight: 600;
}
footer .col button i {
  transition: all 0.2s ease-in-out;
}
footer .col button:hover i {
  transform: translateX(5px);
}
footer .col li a {
  color: #675a61;
  font-weight: 500;
  font-size: 0.9rem;
}
footer .col .social-icons li a {
  width: 36px;
  height: 36px;
  color: #0f1133;
}
@media (min-width: 992px) {
  footer .col:last-of-type > div {
    max-width: 270px;
  }
}
footer .col:last-of-type > div li {
  line-height: 22px;
}
footer .col:last-of-type > div .icon {
  color: #2a71fa;
}
footer .col:last-of-type > div .text {
  color: #7c7b7f;
}
footer .copyright {
  border-top: 1px solid #e1e5ec;
}
footer .copyright .download-android,
footer .copyright .download-ios {
  color: #0f1133;
  line-height: 16px;
}
footer .copyright .download-android {
  border-color: #e8eaf0;
}
